<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
   <% include ./partials/_header %>
</header>
<body>
  <table>
        <ul>
          <% for(let id in urls) { %>
          <tr>

            <td><li><%= id %>: --></td>
            <td><a href="<%= urls[id].longURL %>"><%= urls[id].longURL %> --></a></td>
            <td><p> Visits: <%= urls[id].visits %> </p></td>
            <td><p> Unique Visits: <%= urls[id].uniqueVisits %> </p></td>
              <td><form method="GET" action="/urls/<%= id %>">
                <input type="submit" value="EDIT">
              </form></td>
             <td><form method="POST" action="/urls/<%= id %>/delete/?_bernieOverride=DELETE">
                <input type="submit" value="Delete">
              </form></td>
            </li>
          </ts>
          <% }; %>

      </ul>
  </table>
    <p>
    <form action="/urls" method="POST">
      <input type="submit" value="Create a Tiny URL">
    </form>
  </p>
</body>
</html>